<!--
<div>(id:{{participant.id}})</div>
-->

<div
    (click)="selectItem($event)"
    class="onlinelist-listview-item e2e-onlinelist-listview-item"
    [ngClass]="{'offline': !_participant.online}"
>
    <div class="userimage" [ngStyle]="{'background-image': visible ? imageBackgroundUrl : ''}">
    </div>
    <div class="online-indicator" [ngClass]="cssOnlineIndicatorClass()">
        <i class="fa fw-fw fa-circle"></i>
    </div>
    <div class="userinfo">
        <div class="username e2e-profile-name">
            {{_participant.name}}
        </div>
        <div class="age">{{_participant.age}}</div>
    </div>
</div>
