/*
.participant {
    height: 30px;
    padding: 0;
    margin: 0;
}

.participant td {
    width: 120px;
}
*/

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item {
    width: 132px;
    height: 132px;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item {
        position: relative;
        width: 135px;
        height: 135px;
        margin: 2px;
        background-size: cover;

        cursor: pointer;
        border: 1px solid black;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item .userimage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    z-index: 3;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item .userinfo {
    color: white;
    padding: 6px 6px 6px 6px;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: auto;
    text-align: center;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

    text-shadow: 1px 1px 1px black;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item .userinfo .username {
    display: inline-block;
    max-width: 85px;
    vertical-align: bottom;
    padding-right: 2px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item .userinfo .age {
    display: inline;
}

/* .new-onlinelist .onlinelist-listview .onlinelist-listview-items  */
.onlinelist-listview-item .userinfo .gender {
    display: inline;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items
*/
.onlinelist-listview-item.offline {
    background-color: blueviolet;
    -webkit-filter: grayscale(100%) brightness(50%);
    -moz-filter: grayscale(100%) brightness(50%);
    filter: grayscale(100%) brightness(50%);
}


/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item .online-indicator {
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
    opacity: 1;

}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items
*/
.onlinelist-listview-item .online-indicator.online {
    color: #60BF5F;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item .online-indicator.offline {
    color: grey;
}

.offline { color: red; }
.online { color: green; }

.fa-circle:before{
    font-size: 36px;
    content:"*"
/*    content:"\F111"*/
}

.item-visible {
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 3;
    opacity: 1;
}

.item-visible:before{
    font-size: 36px;
    content:"visible"
/*    content:"\F111"*/
}
