.participant-list td, tr {
    padding:0; margin:0;
}

.participant-list table {
    border-collapse: collapse;
}

.participant-list table {
    max-width:980px;
    table-layout:fixed;
    margin:auto;
}

.participant-list tbody {
    height:300px;
    overflow:auto;
    overflow-x:hidden;
    display:block;
    width:100%;
}

.participant-list tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    /*
    background-image: url('https://d1mti8cqxh4eqy.cloudfront.net/9eb7e8f1-d1a3-499b-adb9-b9dcf579ab1e.jpeg');
    */
    background-size: contain;
    background-repeat: no-repeat;
}

.style-1::-webkit-scrollbar
{
	width: 120px;
	background-color: rgba(0, 0, 0, 0.0); /*#F5F5F5;*/
}

.style-1::-webkit-scrollbar-thumb
{
    height: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(128, 0, 0, 0.4);
}

.new-onlinelist .onlinelist-listview {
    position: relative;
    bottom: 0px;
    top: 0px;
}

/*.new-onlinelist .onlinelist-listview .onlinelist-listview-items */
.onlinelist-listview-item {
    width: 132px;
    height: 132px;
}

.new-onlinelist {
    position: absolute;
    top:0px;
    right:0px;
    box-sizing: border-box;
}

.new-onlinelist .onlinelist-listview {
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.new-onlinelist .thumb-list {
    position: absolute;

    height:100%;
    top:0px;
    bottom:0px;
    right:0px;
    width:120px;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: -1;
}

.new-onlinelist .onlinelist-listview .onlinelist-listview-items {
    overflow:auto;
    overflow-x:hidden;
    display:block;
    width:100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;

    width: 100%;
    margin: 0 auto;
    height: auto;
    /*
    height: auto;
    width: 280px;
    margin: 0 auto;
    */
    /*
    @media (min-width: 768px) {
        width: 100%;
    }
    */
}
