<table border=1px>
  <tr>
    <td>
        <p>count:{{ idListCount$ | async }}</p>
    </td>
    <td>
        <p>filtered count:{{ listFilteredCount$ | async }}</p>
    </td>
    <td>
        <p>filtered online count:{{ listFilteredOnlineCount$ | async }}</p>
    </td>
    <td>
        <pre>onScrollEvent:{{ scrollTopDebounce$ | async }}</pre>
    </td>
  </tr>
</table>

  <div class="new-onlinelist">
    <div>
      <app-thumb-list
        [participantList]="participantList$ | async"
        class="thumb-list"
      >
      </app-thumb-list>
      <div class="onlinelist-listview style-1" (scroll)="onScroll($event)" (resize)="onResize($event)" [style.width]="width" [style.height]="height">
        <div class="onlinelist-listview-items">
          <div *ngFor="let participant$filteredVisible of participant$Visible$ | async; trackBy: trackByParticipant">
              <app-participant
                [participant]="participant$filteredVisible.participant$ | async"
                [visible]="participant$filteredVisible.visible$ | async"
              >
              <!--
              [style.display]="participant$filteredVisible.filtered ? 'block' : 'none'"
              -->
            </app-participant>
          </div>
        </div>
      </div>
  </div>
