<form [formGroup]="form" novalidate>
  <div class="form-group">
    <label class="center-block">name filter:
      <input class="form-control" formControlName="nameFilter">
    </label>
    <label class="center-block">age min:
      <input class="form-control" formControlName="ageMinFilter">
    </label>
    <label class="center-block">age max:
      <input class="form-control" formControlName="ageMaxFilter">
    </label>
  </div>

</form>
<!--
<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>
-->


