<div>
  <app-participant-filter [participantFilter$]="participantFilter$"></app-participant-filter>
</div>
<!--
<p>{{ participantFilter$ | async | json }}</p>
-->
<div>
  <app-participant-sort [participantSort$]="participantSort$"></app-participant-sort>
</div>
<div>
  <app-participant-list-visual-parameters
    [visualParameters$]="visualParameters$"
  >
  </app-participant-list-visual-parameters>
</div>
<app-online-list
  [participantFilter$]="participantFilter$.asObservable()"
  [participantSort$]="participantSort$.asObservable()"
  [visualParameters$]="visualParameters$.asObservable()"
>
</app-online-list>
